.calculator {
  width: 160px;
  border: 1px solid black;
  overflow: hidden;
  background-color: #0077B5;
}

.display {
  background-color: white;
  border: 1px solid black;
  text-align: right;
}

.keypad {
 width: 60px;
 float: left;
 overflow: hidden;
 margin: 10px;
}

.operator-pad {
 width: 50px;
 float: right;
 overflow: hidden;
 margin: 10px; 
}

.key {
  height: 20px;
  width: 20px;
  float: left;
  cursor: pointer;
  border:1px solid gray;
}
